pipeline/pipeline10.json
{
	"name": "pipeline10",
	"properties": {
		"activities": [
			{
				"name": "GetEventTypes",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "SalesforceLogs",
						"type": "DatasetReference",
						"parameters": {
							"pipelineRunId": "f4436ff3-dffe-4d12-aaae-d648a9b1df72"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetEventTypes",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetEventTypes').output.childItems",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "adx"
		},
		"annotations": []
	}
}