pipeline/SwitchWorkspaceOnCapacityFailure.json
{
	"name": "SwitchWorkspaceOnCapacityFailure",
	"properties": {
		"activities": [
			{
				"name": "Loop Until Capacity Available",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set variable4",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set variable2",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set variable3",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set variable5",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set variable6",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(greater(int(variables('iterationCount')), variables('maxIterations')), variables('exitLoop'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Run Notebook",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": {
									"value": "@pipeline().parameters.notebookPath",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks1",
								"type": "LinkedServiceReference",
								"parameters": {
									"workspaceUrl": {
										"value": "@variables('activeWorkspaceUrl')",
										"type": "Expression"
									},
									"instancePoolId": {
										"value": "@variables('activeInstancePoolId')",
										"type": "Expression"
									},
									"workspaceResourceId": {
										"value": "@variables('activeWorkspaceResourceId')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "set exitLoop true",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Run Notebook",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "exitLoop",
								"value": true
							}
						},
						{
							"name": "Check if failure capacity related",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Run Notebook",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@or(greater(indexOf(activity('Run Notebook').output.runError, 'INSTANCE_POOL_MAX_CAPACITY_REACHED'), 0) ,greater(indexOf(activity('Run Notebook').output.runError, 'SOME_OTHER_ERROR_STRING'), 0) )",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "set exitLoop true 2",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "exitLoop",
											"value": true
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "set exitLoop false",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "increment iteration count",
												"dependencyConditions": [
													"Succeeded"
												]
											},
											{
												"activity": "swapWorkspaceUrl",
												"dependencyConditions": [
													"Succeeded"
												]
											},
											{
												"activity": "swapInstancePoolId",
												"dependencyConditions": [
													"Succeeded"
												]
											},
											{
												"activity": "swapeResourceId",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "exitLoop",
											"value": false
										}
									},
									{
										"name": "increment iterationCountInternal",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "iterationCountInternal",
											"value": {
												"value": "@string(add(int(variables('iterationCount')),1))",
												"type": "Expression"
											}
										}
									},
									{
										"name": "increment iteration count",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "increment iterationCountInternal",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "iterationCount",
											"value": {
												"value": "@variables('iterationCountInternal')",
												"type": "Expression"
											}
										}
									},
									{
										"name": "swapWorkspaceUrl",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "activeWorkspaceUrl",
											"value": {
												"value": "@variables('failoverWorkpaceUrl')",
												"type": "Expression"
											}
										}
									},
									{
										"name": "swapInstancePoolId",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "activeInstancePoolId",
											"value": {
												"value": "@variables('failoverInstancePoolId')",
												"type": "Expression"
											}
										}
									},
									{
										"name": "swapeResourceId",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "activeWorkspaceResourceId",
											"value": {
												"value": "@variables('failoverWorkspaceResourceId')",
												"type": "Expression"
											}
										}
									}
								]
							}
						},
						{
							"name": "Fail if max iteration count exceeded",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Run Notebook",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(int(variables('iterationCount')), variables('maxIterations'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Fail1",
										"type": "Fail",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"message": "Max iterations exceeded",
											"errorCode": "666"
										}
									}
								]
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "activeWorkspaceUrl",
					"value": {
						"value": "@pipeline().parameters.activeWorkspaceUrl",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "activeInstancePoolId",
					"value": {
						"value": "@pipeline().parameters.activeInstancePoolId",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable3",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "failoverWorkpaceUrl",
					"value": {
						"value": "@pipeline().parameters.failoverWorkpaceUrl",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable4",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "failoverInstancePoolId",
					"value": {
						"value": "@pipeline().parameters.failoverInstancePoolId",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable5",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "activeWorkspaceResourceId",
					"value": {
						"value": "@pipeline().parameters.activeWorkspaceResourceId",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable6",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "failoverWorkspaceResourceId",
					"value": {
						"value": "@pipeline().parameters.failoverWorkspaceResourceId",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"notebookPath": {
				"type": "string"
			},
			"retryIntervalSeconds": {
				"type": "int",
				"defaultValue": 300
			},
			"activeWorkspaceUrl": {
				"type": "string"
			},
			"activeInstancePoolId": {
				"type": "string"
			},
			"failoverWorkpaceUrl": {
				"type": "string"
			},
			"failoverInstancePoolId": {
				"type": "string"
			},
			"activeWorkspaceResourceId": {
				"type": "string"
			},
			"failoverWorkspaceResourceId": {
				"type": "string"
			}
		},
		"variables": {
			"exitLoop": {
				"type": "Boolean",
				"defaultValue": false
			},
			"iterationCount": {
				"type": "String",
				"defaultValue": "1"
			},
			"iterationCountInternal": {
				"type": "String",
				"defaultValue": "1"
			},
			"activeWorkspaceUrl": {
				"type": "String"
			},
			"activeInstancePoolId": {
				"type": "String"
			},
			"failoverWorkpaceUrl": {
				"type": "String"
			},
			"failoverInstancePoolId": {
				"type": "String"
			},
			"activeWorkspaceResourceId": {
				"type": "String"
			},
			"failoverWorkspaceResourceId": {
				"type": "String"
			},
			"maxIterations": {
				"type": "Integer",
				"defaultValue": 2
			}
		},
		"folder": {
			"name": "Other resilience stuff"
		},
		"annotations": [],
		"lastPublishTime": "2024-09-26T16:52:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}