adf-mibecke-cus-01/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-mibecke-cus-01"
		},
		"AzureFunction1_functionKey": {
			"type": "secureString",
			"metadata": "Secure string for 'functionKey' of 'AzureFunction1'"
		},
		"Salesforce Data API_clientSecret": {
			"type": "secureString",
			"metadata": "Secure string for 'clientSecret' of 'Salesforce Data API'"
		},
		"Salesforce1_clientSecret": {
			"type": "secureString",
			"metadata": "Secure string for 'clientSecret' of 'Salesforce1'"
		},
		"AzureDataExplorer1_properties_typeProperties_endpoint": {
			"type": "string",
			"defaultValue": "https://adx-mibecke-01.centralus.kusto.windows.net"
		},
		"AzureDataExplorer1_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "cona-salesforce-logs"
		},
		"AzureDataLakeStorage1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://samibeckecus01.dfs.core.windows.net/"
		},
		"AzureFunction1_properties_typeProperties_functionAppUrl": {
			"type": "string",
			"defaultValue": "https://conafunc001.azurewebsites.net"
		},
		"AzureKeyVault1_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://kv-mibecke-shared.vault.azure.net/"
		},
		"HttpServer1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://cona.my.salesforce.com/services/data"
		},
		"Salesforce Data API_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://cona.my.salesforce.com/services/data/"
		},
		"Salesforce Data API_properties_typeProperties_clientId": {
			"type": "string",
			"defaultValue": "3MVG9KsVczVNcM8wnLqsWomDZMgwL2Aenv7bVWIAMmyrKP.P5xCJ5cals7fK0IcwmyTGnuSuJSDyPTzghfAMI"
		},
		"Salesforce1_properties_typeProperties_environmentUrl": {
			"type": "string",
			"defaultValue": "https://cona.my.salesforce.com"
		},
		"Salesforce1_properties_typeProperties_clientId": {
			"type": "string",
			"defaultValue": "3MVG9KsVczVNcM8wnLqsWomDZMgwL2Aenv7bVWIAMmyrKP.P5xCJ5cals7fK0IcwmyTGnuSuJSDyPTzghfAMI"
		},
		"loganalytics_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://dce-ingestion-gczf.centralus-1.ingest.monitor.azure.com/dataCollectionRules/dcr-a3447c69e7ab4fbcb629745a2505606b/streams/Custom-SalesforceLogs_CL?api-version=2023-01-01"
		},
		"loganalytics_properties_typeProperties_aadResourceId": {
			"type": "string",
			"defaultValue": "https://monitor.azure.com"
		},
		"AzureSynapseAnalytics432_properties_privateLinkResourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/7a074df0-d2da-4def-92f3-cef1819caf9e/resourceGroups/rg-synapse/providers/Microsoft.Synapse/workspaces/syn-mibecke-cus-01"
		},
		"AzureSynapseAnalytics432_properties_groupId": {
			"type": "string",
			"defaultValue": "sql"
		},
		"AzureSynapseAnalytics432_properties_fqdns": {
			"type": "array",
			"defaultValue": [
				"syn-mibecke-cus-01.sql.azuresynapse.net"
			]
		},
		"AzureBlobStorage1_properties_typeProperties_serviceEndpoint": {
			"type": "string",
			"defaultValue": "https://rgconab540.blob.core.windows.net/"
		},
		"default_properties_primaryWorkspaceUrl_value": {
			"type": "string",
			"defaultValue": "https://adb-3001519857218975.15.azuredatabricks.net"
		},
		"default_properties_failoverWorkspaceUrl_value": {
			"type": "string",
			"defaultValue": "https://adb-1386680983746450.10.azuredatabricks.net/"
		},
		"default_properties_primaryWorkspaceResourceId_value": {
			"type": "string",
			"defaultValue": "/subscriptions/7a074df0-d2da-4def-92f3-cef1819caf9e/resourceGroups/rg-data/providers/Microsoft.Databricks/workspaces/adb-cus-01"
		},
		"default_properties_failoverWorkspaceResourceId_value": {
			"type": "string",
			"defaultValue": "/subscriptions/7a074df0-d2da-4def-92f3-cef1819caf9e/resourceGroups/rg-data/providers/Microsoft.Databricks/workspaces/adb-eus2-01"
		},
		"default_properties_primaryInstancePoolId_value": {
			"type": "string",
			"defaultValue": "0923-201003-yarn12-pool-n1bcdevw"
		},
		"default_properties_failoverInstancePoolId_value": {
			"type": "string",
			"defaultValue": "0923-200944-gym276-pool-ezzwvw1s"
		},
		"default_properties_workspaceUrl_value": {
			"type": "string",
			"defaultValue": "https://adb-3001519857218975.15.azuredatabricks.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/RepairTable')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "REPAIR TABLE",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"url": {
								"value": "@{pipeline().parameters.workspaceUrl}/api/2.0/sql/statements",
								"type": "Expression"
							},
							"connectVia": {
								"referenceName": "AutoResolveIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"body": {
								"value": "{\"statement\":\"REPAIR TABLE @{pipeline().parameters.tableName} SYNC METADATA\",\"warehouse_id\":\"@{pipeline().parameters.warehouseId}\"}",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "2ff814a6-3304-4ab8-85cb-cd0e6f879c1d"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"workspaceUrl": {
						"type": "string"
					},
					"tableName": {
						"type": "string"
					},
					"warehouseId": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Old"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RetryOnCapacityFailure')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Loop Until Capacity Available",
						"type": "Until",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@or(greater(int(variables('iterationCount')), pipeline().parameters.maxIterations), variables('exitLoop'))",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Run Notebook",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": {
											"value": "@pipeline().parameters.notebookPath",
											"type": "Expression"
										}
									},
									"linkedServiceName": {
										"referenceName": "DatabricksInstancePoolLinkedService",
										"type": "LinkedServiceReference",
										"parameters": {
											"workspaceUrl": "https://adb-3001519857218975.15.azuredatabricks.net/",
											"instancePoolId": "0923-201003-yarn12-pool-n1bcdevw",
											"workspaceResourceId": "/subscriptions/7a074df0-d2da-4def-92f3-cef1819caf9e/resourceGroups/rg-data/providers/Microsoft.Databricks/workspaces/adb-cus-01"
										}
									}
								},
								{
									"name": "set exitLoop true",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Run Notebook",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "exitLoop",
										"value": true
									}
								},
								{
									"name": "Check if failure capacity related",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Run Notebook",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@or(greater(indexOf(activity('Run Notebook').output.runError, 'INSTANCE_POOL_MAX_CAPACITY_REACHED'), 0) ,greater(indexOf(activity('Run Notebook').output.runError, 'SOME_OTHER_ERROR_STRING'), 0) )",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "set exitLoop true 2",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "exitLoop",
													"value": true
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "set exitLoop false",
												"type": "SetVariable",
												"dependsOn": [
													{
														"activity": "increment iteration count",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "exitLoop",
													"value": false
												}
											},
											{
												"name": "wait",
												"type": "Wait",
												"dependsOn": [
													{
														"activity": "set exitLoop false",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"waitTimeInSeconds": {
														"value": "@pipeline().parameters.retryIntervalSeconds",
														"type": "Expression"
													}
												}
											},
											{
												"name": "increment iterationCountInternal",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "iterationCountInternal",
													"value": {
														"value": "@string(add(int(variables('iterationCount')),1))",
														"type": "Expression"
													}
												}
											},
											{
												"name": "increment iteration count",
												"type": "SetVariable",
												"dependsOn": [
													{
														"activity": "increment iterationCountInternal",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "iterationCount",
													"value": {
														"value": "@variables('iterationCountInternal')",
														"type": "Expression"
													}
												}
											}
										]
									}
								},
								{
									"name": "Fail if max iteration count exceeded",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Run Notebook",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@greater(int(variables('iterationCount')), pipeline().parameters.maxIterations)",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "Fail1",
												"type": "Fail",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"message": "Max iterations exceeded",
													"errorCode": "666"
												}
											}
										]
									}
								}
							],
							"timeout": "0.12:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"maxIterations": {
						"type": "int",
						"defaultValue": 10
					},
					"notebookPath": {
						"type": "string"
					},
					"retryIntervalSeconds": {
						"type": "int",
						"defaultValue": 300
					}
				},
				"variables": {
					"exitLoop": {
						"type": "Boolean",
						"defaultValue": false
					},
					"iterationCount": {
						"type": "String",
						"defaultValue": "1"
					},
					"iterationCountInternal": {
						"type": "String",
						"defaultValue": "1"
					}
				},
				"folder": {
					"name": "Other resilience stuff"
				},
				"annotations": [],
				"lastPublishTime": "2024-09-26T16:52:12Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DatabricksInstancePoolLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SwitchInstancePoolOnCapacityFailure')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "InitialNotebookRunAttempt",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": {
								"value": "@pipeline().parameters.notebookPath",
								"type": "Expression"
							}
						},
						"linkedServiceName": {
							"referenceName": "DatabricksInstancePoolLinkedService",
							"type": "LinkedServiceReference",
							"parameters": {
								"workspaceUrl": {
									"value": "@pipeline().parameters.workspaceUrl",
									"type": "Expression"
								},
								"instancePoolId": {
									"value": "@pipeline().parameters.initialInstancePoolId",
									"type": "Expression"
								},
								"workspaceResourceId": {
									"value": "@pipeline().parameters.workspaceResourceId",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "CheckAcceptableErrorStrings",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "InitialNotebookRunAttempt",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.acceptedErrorMessages",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Check if failure capacity related",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@contains(activity('InitialNotebookRunAttempt').output.runError, item())",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "FailoverNotebookRunAttempt",
												"type": "DatabricksNotebook",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"notebookPath": {
														"value": "@pipeline().parameters.notebookPath",
														"type": "Expression"
													}
												},
												"linkedServiceName": {
													"referenceName": "DatabricksInstancePoolLinkedService",
													"type": "LinkedServiceReference",
													"parameters": {
														"workspaceUrl": {
															"value": "@pipeline().parameters.workspaceUrl",
															"type": "Expression"
														},
														"instancePoolId": {
															"value": "@pipeline().parameters.failoverInstancePoolId",
															"type": "Expression"
														},
														"workspaceResourceId": {
															"value": "@pipeline().parameters.workspaceResourceId",
															"type": "Expression"
														}
													}
												}
											},
											{
												"name": "setFailoverConditionSatisfied",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "failoverConditionSatisfied",
													"value": true
												}
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "FailIfFailoverDidntHappen",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "CheckAcceptableErrorStrings",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@not(variables('failoverConditionSatisfied'))",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Fail1",
									"type": "Fail",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"message": "ERROR_NOT_CAPACITY_RELATED",
										"errorCode": "123"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"notebookPath": {
						"type": "string"
					},
					"workspaceUrl": {
						"type": "string"
					},
					"initialInstancePoolId": {
						"type": "string"
					},
					"failoverInstancePoolId": {
						"type": "string"
					},
					"workspaceResourceId": {
						"type": "string"
					},
					"acceptedErrorMessages": {
						"type": "array"
					}
				},
				"variables": {
					"exitLoop": {
						"type": "Boolean",
						"defaultValue": false
					},
					"iterationCount": {
						"type": "String",
						"defaultValue": "1"
					},
					"iterationCountInternal": {
						"type": "String",
						"defaultValue": "1"
					},
					"activeWorkspaceUrl": {
						"type": "String"
					},
					"activeInstancePoolId": {
						"type": "String"
					},
					"failoverWorkpaceUrl": {
						"type": "String"
					},
					"failoverInstancePoolId": {
						"type": "String"
					},
					"activeWorkspaceResourceId": {
						"type": "String"
					},
					"failoverWorkspaceResourceId": {
						"type": "String"
					},
					"maxIterations": {
						"type": "Integer",
						"defaultValue": 2
					},
					"ErrorMessages": {
						"type": "Array"
					},
					"FoundString": {
						"type": "Boolean"
					},
					"failoverConditionSatisfied": {
						"type": "Boolean"
					}
				},
				"folder": {
					"name": "Helpers"
				},
				"annotations": [],
				"lastPublishTime": "2024-09-26T16:52:12Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DatabricksInstancePoolLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SwitchLinkedServiceOnCapacityFailure')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "InitialNotebookRunAttempt",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": {
								"value": "@pipeline().parameters.notebookPath",
								"type": "Expression"
							}
						},
						"linkedServiceName": {
							"referenceName": "DatabricksJobClusterLinkedService",
							"type": "LinkedServiceReference",
							"parameters": {
								"workspaceUrl": {
									"value": "@pipeline().parameters.workspaceUrl",
									"type": "Expression"
								},
								"workspaceResourceId": {
									"value": "@pipeline().parameters.workspaceResourceId",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "CheckAcceptableErrorStrings",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "InitialNotebookRunAttempt",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.acceptedErrorMessages",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Check if failure capacity related",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@contains(activity('InitialNotebookRunAttempt').output.runError, item())",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "FailoverNotebookRunAttempt",
												"type": "DatabricksNotebook",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"notebookPath": {
														"value": "@pipeline().parameters.notebookPath",
														"type": "Expression"
													}
												},
												"linkedServiceName": {
													"referenceName": "DatabricksInstancePoolLinkedService",
													"type": "LinkedServiceReference",
													"parameters": {
														"workspaceUrl": {
															"value": "@pipeline().parameters.workspaceUrl",
															"type": "Expression"
														},
														"instancePoolId": {
															"value": "@pipeline().parameters.instancePoolId",
															"type": "Expression"
														},
														"workspaceResourceId": {
															"value": "@pipeline().parameters.workspaceResourceId",
															"type": "Expression"
														}
													}
												}
											},
											{
												"name": "setFailoverConditionSatisfied",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "failoverConditionSatisfied",
													"value": true
												}
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "FailIfFailoverDidntHappen",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "CheckAcceptableErrorStrings",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@not(variables('failoverConditionSatisfied'))",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Fail1",
									"type": "Fail",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"message": "ERROR_NOT_CAPACITY_RELATED",
										"errorCode": "123"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"notebookPath": {
						"type": "string"
					},
					"workspaceUrl": {
						"type": "string"
					},
					"instancePoolId": {
						"type": "string"
					},
					"workspaceResourceId": {
						"type": "string"
					},
					"acceptedErrorMessages": {
						"type": "array"
					}
				},
				"variables": {
					"exitLoop": {
						"type": "Boolean",
						"defaultValue": false
					},
					"iterationCount": {
						"type": "String",
						"defaultValue": "1"
					},
					"iterationCountInternal": {
						"type": "String",
						"defaultValue": "1"
					},
					"activeWorkspaceUrl": {
						"type": "String"
					},
					"activeInstancePoolId": {
						"type": "String"
					},
					"failoverWorkpaceUrl": {
						"type": "String"
					},
					"failoverInstancePoolId": {
						"type": "String"
					},
					"activeWorkspaceResourceId": {
						"type": "String"
					},
					"failoverWorkspaceResourceId": {
						"type": "String"
					},
					"maxIterations": {
						"type": "Integer",
						"defaultValue": 2
					},
					"ErrorMessages": {
						"type": "Array"
					},
					"FoundString": {
						"type": "Boolean"
					},
					"failoverConditionSatisfied": {
						"type": "Boolean"
					}
				},
				"folder": {
					"name": "Helpers"
				},
				"annotations": [],
				"lastPublishTime": "2024-09-26T16:52:12Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DatabricksJobClusterLinkedService')]",
				"[concat(variables('factoryId'), '/linkedServices/DatabricksInstancePoolLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SwitchWorkspaceOnCapacityFailure')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Loop Until Capacity Available",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "Set variable1",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set variable4",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set variable2",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set variable3",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set variable5",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set variable6",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@or(greater(int(variables('iterationCount')), variables('maxIterations')), variables('exitLoop'))",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Run Notebook",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": {
											"value": "@pipeline().parameters.notebookPath",
											"type": "Expression"
										}
									},
									"linkedServiceName": {
										"referenceName": "DatabricksInstancePoolLinkedService",
										"type": "LinkedServiceReference",
										"parameters": {
											"workspaceUrl": {
												"value": "@variables('activeWorkspaceUrl')",
												"type": "Expression"
											},
											"instancePoolId": {
												"value": "@variables('activeInstancePoolId')",
												"type": "Expression"
											},
											"workspaceResourceId": {
												"value": "@variables('activeWorkspaceResourceId')",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "set exitLoop true",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Run Notebook",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "exitLoop",
										"value": true
									}
								},
								{
									"name": "Check if failure capacity related",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Run Notebook",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@or(greater(indexOf(activity('Run Notebook').output.runError, 'INSTANCE_POOL_MAX_CAPACITY_REACHED'), 0) ,greater(indexOf(activity('Run Notebook').output.runError, 'SOME_OTHER_ERROR_STRING'), 0) )",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "set exitLoop true 2",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "exitLoop",
													"value": true
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "set exitLoop false",
												"type": "SetVariable",
												"dependsOn": [
													{
														"activity": "increment iteration count",
														"dependencyConditions": [
															"Succeeded"
														]
													},
													{
														"activity": "swapWorkspaceUrl",
														"dependencyConditions": [
															"Succeeded"
														]
													},
													{
														"activity": "swapInstancePoolId",
														"dependencyConditions": [
															"Succeeded"
														]
													},
													{
														"activity": "swapeResourceId",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "exitLoop",
													"value": false
												}
											},
											{
												"name": "increment iterationCountInternal",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "iterationCountInternal",
													"value": {
														"value": "@string(add(int(variables('iterationCount')),1))",
														"type": "Expression"
													}
												}
											},
											{
												"name": "increment iteration count",
												"type": "SetVariable",
												"dependsOn": [
													{
														"activity": "increment iterationCountInternal",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "iterationCount",
													"value": {
														"value": "@variables('iterationCountInternal')",
														"type": "Expression"
													}
												}
											},
											{
												"name": "swapWorkspaceUrl",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "activeWorkspaceUrl",
													"value": {
														"value": "@variables('failoverWorkpaceUrl')",
														"type": "Expression"
													}
												}
											},
											{
												"name": "swapInstancePoolId",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "activeInstancePoolId",
													"value": {
														"value": "@variables('failoverInstancePoolId')",
														"type": "Expression"
													}
												}
											},
											{
												"name": "swapeResourceId",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "activeWorkspaceResourceId",
													"value": {
														"value": "@variables('failoverWorkspaceResourceId')",
														"type": "Expression"
													}
												}
											}
										]
									}
								},
								{
									"name": "Fail if max iteration count exceeded",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Run Notebook",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@greater(int(variables('iterationCount')), variables('maxIterations'))",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "Fail1",
												"type": "Fail",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"message": "Max iterations exceeded",
													"errorCode": "666"
												}
											}
										]
									}
								}
							],
							"timeout": "0.12:00:00"
						}
					},
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "activeWorkspaceUrl",
							"value": {
								"value": "@pipeline().parameters.activeWorkspaceUrl",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set variable2",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "activeInstancePoolId",
							"value": {
								"value": "@pipeline().parameters.activeInstancePoolId",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set variable3",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "failoverWorkpaceUrl",
							"value": {
								"value": "@pipeline().parameters.failoverWorkpaceUrl",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set variable4",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "failoverInstancePoolId",
							"value": {
								"value": "@pipeline().parameters.failoverInstancePoolId",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set variable5",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "activeWorkspaceResourceId",
							"value": {
								"value": "@pipeline().parameters.activeWorkspaceResourceId",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set variable6",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "failoverWorkspaceResourceId",
							"value": {
								"value": "@pipeline().parameters.failoverWorkspaceResourceId",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"notebookPath": {
						"type": "string"
					},
					"retryIntervalSeconds": {
						"type": "int",
						"defaultValue": 300
					},
					"activeWorkspaceUrl": {
						"type": "string"
					},
					"activeInstancePoolId": {
						"type": "string"
					},
					"failoverWorkpaceUrl": {
						"type": "string"
					},
					"failoverInstancePoolId": {
						"type": "string"
					},
					"activeWorkspaceResourceId": {
						"type": "string"
					},
					"failoverWorkspaceResourceId": {
						"type": "string"
					}
				},
				"variables": {
					"exitLoop": {
						"type": "Boolean",
						"defaultValue": false
					},
					"iterationCount": {
						"type": "String",
						"defaultValue": "1"
					},
					"iterationCountInternal": {
						"type": "String",
						"defaultValue": "1"
					},
					"activeWorkspaceUrl": {
						"type": "String"
					},
					"activeInstancePoolId": {
						"type": "String"
					},
					"failoverWorkpaceUrl": {
						"type": "String"
					},
					"failoverInstancePoolId": {
						"type": "String"
					},
					"activeWorkspaceResourceId": {
						"type": "String"
					},
					"failoverWorkspaceResourceId": {
						"type": "String"
					},
					"maxIterations": {
						"type": "Integer",
						"defaultValue": 2
					}
				},
				"folder": {
					"name": "Other resilience stuff"
				},
				"annotations": [],
				"lastPublishTime": "2024-09-26T16:52:12Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DatabricksInstancePoolLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "FaultTolerantDatabricksNotebook",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "RetryOnCapacityFailure",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"maxIterations": 2,
								"notebookPath": "/Workspace/Users/admin@mngenvmcap469791.onmicrosoft.com/job1",
								"retryIntervalSeconds": 120
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Old"
				},
				"annotations": [],
				"lastPublishTime": "2024-09-23T21:00:09Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/RetryOnCapacityFailure')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline10')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetEventTypes",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "LoopLogFiles",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "SalesforceLogs",
								"type": "DatasetReference",
								"parameters": {
									"path": {
										"value": "@variables('pipelineRunId')",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetEventTypes",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetEventTypes').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "IngestLogFileToADX",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"wildcardFileName": "*",
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzureDataExplorerSink"
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "SalesforceLogs",
											"type": "DatasetReference",
											"parameters": {
												"path": {
													"value": "@concat(variables('pipelineRunId'), '/', item().name)",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "AzureDataExplorerTable2",
											"type": "DatasetReference",
											"parameters": {
												"table": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "GetSalesforceOauthToken",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "GetOAuthClientId",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "GetOAuthClientSecret",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"url": {
								"value": "@concat('https://cona.my.salesforce.com/services/oauth2/token?client_id=', activity('GetOAuthClientId').output.value, '&client_secret=', activity('GetOAuthClientSecret').output.value, '&grant_type=client_credentials')",
								"type": "Expression"
							},
							"connectVia": {
								"referenceName": "AutoResolveIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							}
						}
					},
					{
						"name": "GetOAuthClientId",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "CheckIfPipelineRunIdOverridden",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"url": "https://kv-mibecke-shared.vault.azure.net/secrets/cona-salesforce-client-id/d32e42f38db041e7a89b554323d29db5?api-version=7.0",
							"connectVia": {
								"referenceName": "AutoResolveIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "GetOAuthClientSecret",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "CheckIfPipelineRunIdOverridden",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"url": "https://kv-mibecke-shared.vault.azure.net/secrets/cona-salesforce-client-secret/96f223c734a7495db679b9624744ba4e?api-version=7.0",
							"connectVia": {
								"referenceName": "AutoResolveIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "GetListOfLogFiles",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "StoreAccessToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {
								"Authorization": {
									"value": "@concat('Bearer ', variables('accessToken'))",
									"type": "Expression"
								}
							},
							"url": "https://cona.my.salesforce.com/services/data/v62.0/query?q=SELECT+Id,+EventType,+LogFile,+LogDate,+LogFileLength+FROM+EventLogFile+WHERE+CreatedDate+>+Yesterday+AND+EventType+in+(+'API'+,+'ApexCallout'+,+'ApexExecution'+,+'ApexRestApi'+,+'ApexSoap'+,+'ApexTrigger'+,+'ApexUnexpectedException'+,+'ApiTotalUsage'+,+'BulkApi'+,+'BulkApiRequest'+,+'BulkApi2'+,+'ConcurrentLongRunningApexLimit'+,+'FlowExecution'+,+'Login'+,+'LoginAs'+,+'QueuedExecution'+,+'RestApi'++)+and+interval+=+'Hourly'",
							"connectVia": {
								"referenceName": "AutoResolveIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							}
						}
					},
					{
						"name": "LoopLogFiles",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetListOfLogFiles",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetListOfLogFiles').output.records",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "PullLogFileToBlobStorage",
									"type": "AzureFunctionActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"functionName": "process_salesforce_logs",
										"body": {
											"value": "@concat('{\"logFileUrl\": \"https://cona.my.salesforce.com', item().LogFile, '\",', '\"accessToken\": \"', base64(variables('accessToken')), '\",', '\"storageAccountUrl\": \"https://rgconab540.blob.core.windows.net/salesforce/', variables('pipelineRunId'), '/', item().EventType, '\"}')",
											"type": "Expression"
										},
										"headers": {},
										"method": "POST"
									},
									"linkedServiceName": {
										"referenceName": "AzureFunction1",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Wait",
									"type": "Wait",
									"dependsOn": [
										{
											"activity": "PullLogFileToBlobStorage",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 5
									}
								}
							]
						}
					},
					{
						"name": "StoreAccessToken",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GetSalesforceOauthToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "accessToken",
							"value": {
								"value": "@activity('GetSalesforceOauthToken').output.access_token",
								"type": "Expression"
							}
						}
					},
					{
						"name": "CheckIfPipelineRunIdOverridden",
						"type": "IfCondition",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@not(equals(pipeline().parameters.pipelineRunId, null))",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "UsePipelineRunId",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "pipelineRunId",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "OverridePipelineRunId",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "pipelineRunId",
										"value": {
											"value": "@pipeline().parameters.pipelineRunId",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"pipelineRunId": {
						"type": "string"
					}
				},
				"variables": {
					"accessToken": {
						"type": "String"
					},
					"pipelineRunId": {
						"type": "String"
					}
				},
				"folder": {
					"name": "adx"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SalesforceLogs')]",
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]",
				"[concat(variables('factoryId'), '/datasets/AzureDataExplorerTable2')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureFunction1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "FaultTolerantDatabricksNotebook",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SwitchWorkspaceOnCapacityFailure",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"notebookPath": "/Workspace/Users/admin@mngenvmcap469791.onmicrosoft.com/job1",
								"activeWorkspaceUrl": {
									"value": "@pipeline().globalParameters.primaryWorkspaceUrl",
									"type": "Expression"
								},
								"activeInstancePoolId": {
									"value": "@pipeline().globalParameters.primaryInstancePoolId",
									"type": "Expression"
								},
								"failoverWorkpaceUrl": {
									"value": "@pipeline().globalParameters.failoverWorkspaceUrl",
									"type": "Expression"
								},
								"failoverInstancePoolId": {
									"value": "@pipeline().globalParameters.failoverInstancePoolId",
									"type": "Expression"
								},
								"activeWorkspaceResourceId": {
									"value": "@pipeline().globalParameters.primaryWorkspaceResourceId",
									"type": "Expression"
								},
								"failoverWorkspaceResourceId": {
									"value": "@pipeline().globalParameters.failoverWorkspaceResourceId",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Old"
				},
				"annotations": [],
				"lastPublishTime": "2024-09-23T21:00:09Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/SwitchWorkspaceOnCapacityFailure')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline3')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "REPAIR TABLE",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"url": "https://adb-1386680983746450.10.azuredatabricks.net/api/2.0/sql/statements",
							"connectVia": {
								"referenceName": "AutoResolveIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"body": {
								"statement": "REPAIR TABLE samibeckecus02.default.data3 SYNC METADATA",
								"warehouse_id": "3fe3ae28df670188"
							},
							"authentication": {
								"type": "MSI",
								"resource": "2ff814a6-3304-4ab8-85cb-cd0e6f879c1d"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Old"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline4')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute Pipeline1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "RepairTable",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"workspaceUrl": "https://adb-1386680983746450.10.azuredatabricks.net",
								"tableName": "samibeckecus02.default.data3",
								"warehouseId": "3fe3ae28df670188"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Old"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/RepairTable')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline5')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.ErrorMessages",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@contains('this string contains foo', item())",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "Set variable1",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "FoundString",
													"value": true
												}
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ErrorMessages": {
						"type": "array"
					}
				},
				"variables": {
					"ErrorMessages": {
						"type": "Array"
					},
					"FoundString": {
						"type": "Boolean"
					},
					"failoverConditionSatisfied": {
						"type": "Boolean"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline6')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureDataExplorerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "id",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "name",
											"type": "String",
											"physicalType": "string"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DelimitedText1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureDataExplorerTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "adx"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DelimitedText1')]",
				"[concat(variables('factoryId'), '/datasets/AzureDataExplorerTable1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline7')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "RestSink",
								"httpRequestTimeout": "00:05:00",
								"requestInterval": 10,
								"requestMethod": "POST",
								"writeBatchSize": 10000,
								"httpCompressionType": "none"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['timestamp']"
										},
										"sink": {
											"path": "$['timestamp']"
										}
									},
									{
										"source": {
											"path": "$['logEntry']"
										},
										"sink": {
											"path": "$['logEntry']"
										}
									},
									{
										"source": {
											"path": "$['AdditionalContext']"
										},
										"sink": {
											"path": "$['AdditionalContext']"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Json1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "RestResource1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "adx"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Json1')]",
				"[concat(variables('factoryId'), '/datasets/RestResource1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline8')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetSalesforceOauthToken",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "GetOAuthClientId",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "GetOAuthClientSecret",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"url": {
								"value": "@concat('https://cona.my.salesforce.com/services/oauth2/token?client_id=', activity('GetOAuthClientId').output.value, '&client_secret=', activity('GetOAuthClientSecret').output.value, '&grant_type=client_credentials')",
								"type": "Expression"
							},
							"connectVia": {
								"referenceName": "AutoResolveIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							}
						}
					},
					{
						"name": "GetOAuthClientId",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"url": "https://kv-mibecke-shared.vault.azure.net/secrets/cona-salesforce-client-id/d32e42f38db041e7a89b554323d29db5?api-version=7.0",
							"connectVia": {
								"referenceName": "AutoResolveIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "GetOAuthClientSecret",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"url": "https://kv-mibecke-shared.vault.azure.net/secrets/cona-salesforce-client-secret/96f223c734a7495db679b9624744ba4e?api-version=7.0",
							"connectVia": {
								"referenceName": "AutoResolveIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Set Bearer Token",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GetSalesforceOauthToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": true,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "BearerToken",
							"value": {
								"value": "@concat('Bearer ', activity('GetSalesforceOauthToken').output.access_token)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "GetListOfLogFiles",
						"type": "WebActivity",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Set Bearer Token",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {
								"Authorization": {
									"value": "@variables('BearerToken')",
									"type": "Expression"
								}
							},
							"url": "https://cona.my.salesforce.com/services/data/v62.0/query?q=SELECT+Id,+EventType,+LogFile,+LogDate,+LogFileLength+FROM+EventLogFile+WHERE+CreatedDate+>+Yesterday+AND+EventType+in+(+'API'+,+'ApexCallout'+,+'ApexExecution'+,+'ApexRestApi'+,+'ApexSoap'+,+'ApexTrigger'+,+'ApexUnexpectedException'+,+'ApiTotalUsage'+,+'BulkApi'+,+'BulkApiRequest'+,+'BulkApi2'+,+'ConcurrentLongRunningApexLimit'+,+'FlowExecution'+,+'Login'+,+'LoginAs'+,+'QueuedExecution'+,+'RestApi'++)+and+interval+=+'Hourly'",
							"connectVia": {
								"referenceName": "AutoResolveIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							}
						}
					},
					{
						"name": "LoopLogFiles",
						"type": "ForEach",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "GetListOfLogFiles",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetListOfLogFiles').output.records",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "WriteLogFileToStorage",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "GetLogFile",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": true
									},
									"userProperties": [],
									"typeProperties": {
										"method": "PUT",
										"headers": {
											"x-ms-version": "2019-07-07",
											"x-ms-blob-type": "BlockBlob",
											"Authentication": "Managed Identity",
											"ContentEncoding": "gzip",
											"ContentType": "application/csv"
										},
										"url": {
											"value": "@concat('https://samibeckecus01.blob.core.windows.net/data/salesforce/', item().EventType, '.csv?resource=file')",
											"type": "Expression"
										},
										"connectVia": {
											"referenceName": "AutoResolveIntegrationRuntime",
											"type": "IntegrationRuntimeReference"
										},
										"body": {
											"value": "@activity('GetLogFile').output.Response",
											"type": "Expression"
										},
										"authentication": {
											"type": "MSI",
											"resource": "https://storage.azure.com"
										}
									}
								},
								{
									"name": "GetLogFile",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": true,
										"secureInput": true
									},
									"userProperties": [],
									"typeProperties": {
										"method": "GET",
										"headers": {
											"Authorization": {
												"value": "@variables('BearerToken')",
												"type": "Expression"
											},
											"Content-Type": "application/csv",
											"Accept-Encoding": "gzip"
										},
										"url": {
											"value": "@concat('https://cona.my.salesforce.com/',item().LogFile)",
											"type": "Expression"
										},
										"connectVia": {
											"referenceName": "AutoResolveIntegrationRuntime",
											"type": "IntegrationRuntimeReference"
										}
									}
								}
							]
						}
					},
					{
						"name": "GetLogFile_copy1",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Set Bearer Token",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {
								"Authorization": {
									"value": "@variables('BearerToken')",
									"type": "Expression"
								},
								"Accept-Encoding": "gzip",
								"Content-Type": "text/csv"
							},
							"url": {
								"value": "@concat('https://cona.my.salesforce.com/','/services/data/v62.0/sobjects/EventLogFile/0AT7V00000C78PgWAJ/LogFile')",
								"type": "Expression"
							},
							"connectVia": {
								"referenceName": "AutoResolveIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"urls": {
						"type": "Array"
					},
					"url": {
						"type": "String"
					},
					"url2": {
						"type": "String"
					},
					"BearerToken": {
						"type": "String"
					},
					"accessToken": {
						"type": "String"
					}
				},
				"folder": {
					"name": "adx"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tryJobPoolThenFallbackOnOdcrInstancePool')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute Pipeline1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SwitchLinkedServiceOnCapacityFailure",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"notebookPath": "/Workspace/Users/admin@mngenvmcap469791.onmicrosoft.com/job1",
								"workspaceUrl": "https://adb-3001519857218975.15.azuredatabricks.net/",
								"instancePoolId": "1105-210744-foray3-pool-306c6t24",
								"workspaceResourceId": "/subscriptions/7a074df0-d2da-4def-92f3-cef1819caf9e/resourceGroups/rg-data/providers/Microsoft.Databricks/workspaces/adb-cus-01",
								"acceptedErrorMessages": {
									"value": "@pipeline().parameters.acceptedErrorMessages",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"acceptedErrorMessages": {
						"type": "string",
						"defaultValue": [
							"AZURE_QUOTA_EXCEEDED_EXCEPTION",
							"INSTANCE_POOL_MAX_CAPACITY_REACHED"
						]
					}
				},
				"folder": {
					"name": "ODCR Demo"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/SwitchLinkedServiceOnCapacityFailure')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tryNonDdcrInstancePoolThenFallbackOnOdcrInstancePool')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute Pipeline1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SwitchInstancePoolOnCapacityFailure",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"notebookPath": "/Workspace/Users/admin@mngenvmcap469791.onmicrosoft.com/job1",
								"workspaceUrl": "https://adb-3001519857218975.15.azuredatabricks.net/",
								"initialInstancePoolId": "1105-210710-awing2-pool-bv7hvz4s",
								"failoverInstancePoolId": "1105-210744-foray3-pool-306c6t24",
								"workspaceResourceId": "/subscriptions/7a074df0-d2da-4def-92f3-cef1819caf9e/resourceGroups/rg-data/providers/Microsoft.Databricks/workspaces/adb-cus-01",
								"acceptedErrorMessages": {
									"value": "@pipeline().parameters.acceptedErrorMessages",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Execute Pipeline2",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SwitchInstancePoolOnCapacityFailure",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"notebookPath": "/Workspace/Users/admin@mngenvmcap469791.onmicrosoft.com/job1",
								"workspaceUrl": "https://adb-3001519857218975.15.azuredatabricks.net/",
								"initialInstancePoolId": "1105-210710-awing2-pool-bv7hvz4s",
								"failoverInstancePoolId": "1105-210744-foray3-pool-306c6t24",
								"workspaceResourceId": "/subscriptions/7a074df0-d2da-4def-92f3-cef1819caf9e/resourceGroups/rg-data/providers/Microsoft.Databricks/workspaces/adb-cus-01",
								"acceptedErrorMessages": {
									"value": "@pipeline().parameters.acceptedErrorMessages",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"acceptedErrorMessages": {
						"type": "array",
						"defaultValue": [
							"AZURE_QUOTA_EXCEEDED_EXCEPTION",
							"INSTANCE_POOL_MAX_CAPACITY_REACHED"
						]
					}
				},
				"variables": {
					"failoverConditionSatisfied": {
						"type": "Boolean"
					}
				},
				"folder": {
					"name": "ODCR Demo"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/SwitchInstancePoolOnCapacityFailure')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataExplorerTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataExplorer1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureDataExplorerTable",
				"schema": [
					{
						"name": "id",
						"type": "int"
					},
					{
						"name": "name",
						"type": "string"
					}
				],
				"typeProperties": {
					"table": "people"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataExplorer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataExplorerTable2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataExplorer1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"table": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureDataExplorerTable",
				"schema": [
					{
						"name": "EVENT_TYPE",
						"type": "string"
					},
					{
						"name": "TIMESTAMP",
						"type": "string"
					},
					{
						"name": "REQUEST_ID",
						"type": "string"
					},
					{
						"name": "ORGANIZATION_ID",
						"type": "string"
					},
					{
						"name": "USER_ID",
						"type": "string"
					},
					{
						"name": "RUN_TIME",
						"type": "string"
					},
					{
						"name": "CPU_TIME",
						"type": "string"
					},
					{
						"name": "URI",
						"type": "string"
					},
					{
						"name": "SESSION_KEY",
						"type": "string"
					},
					{
						"name": "LOGIN_KEY",
						"type": "string"
					},
					{
						"name": "USER_TYPE",
						"type": "string"
					},
					{
						"name": "REQUEST_STATUS",
						"type": "string"
					},
					{
						"name": "DB_TOTAL_TIME",
						"type": "string"
					},
					{
						"name": "METHOD",
						"type": "string"
					},
					{
						"name": "MEDIA_TYPE",
						"type": "string"
					},
					{
						"name": "STATUS_CODE",
						"type": "string"
					},
					{
						"name": "USER_AGENT",
						"type": "string"
					},
					{
						"name": "ROWS_PROCESSED",
						"type": "string"
					},
					{
						"name": "NUMBER_FIELDS",
						"type": "string"
					},
					{
						"name": "DB_BLOCKS",
						"type": "string"
					},
					{
						"name": "DB_CPU_TIME",
						"type": "string"
					},
					{
						"name": "REQUEST_SIZE",
						"type": "string"
					},
					{
						"name": "RESPONSE_SIZE",
						"type": "string"
					},
					{
						"name": "ENTITY_NAME",
						"type": "string"
					},
					{
						"name": "CONNECTED_APP_ID",
						"type": "string"
					},
					{
						"name": "CLIENT_NAME",
						"type": "string"
					},
					{
						"name": "EXCEPTION_MESSAGE",
						"type": "string"
					},
					{
						"name": "TIMESTAMP_DERIVED",
						"type": "string"
					},
					{
						"name": "USER_ID_DERIVED",
						"type": "string"
					},
					{
						"name": "CLIENT_IP",
						"type": "string"
					},
					{
						"name": "URI_ID_DERIVED",
						"type": "string"
					}
				],
				"typeProperties": {
					"table": {
						"value": "@dataset().table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataExplorer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataExplorerLogEntries')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataExplorer1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureDataExplorerTable",
				"schema": [
					{
						"name": "EVENT_TYPE",
						"type": "string"
					},
					{
						"name": "TIMESTAMP",
						"type": "string"
					},
					{
						"name": "REQUEST_ID",
						"type": "string"
					},
					{
						"name": "ORGANIZATION_ID",
						"type": "string"
					},
					{
						"name": "USER_ID",
						"type": "string"
					},
					{
						"name": "RUN_TIME",
						"type": "string"
					},
					{
						"name": "CPU_TIME",
						"type": "string"
					},
					{
						"name": "URI",
						"type": "string"
					},
					{
						"name": "SESSION_KEY",
						"type": "string"
					},
					{
						"name": "LOGIN_KEY",
						"type": "string"
					},
					{
						"name": "USER_TYPE",
						"type": "string"
					},
					{
						"name": "REQUEST_STATUS",
						"type": "string"
					},
					{
						"name": "DB_TOTAL_TIME",
						"type": "string"
					},
					{
						"name": "METHOD",
						"type": "string"
					},
					{
						"name": "MEDIA_TYPE",
						"type": "string"
					},
					{
						"name": "STATUS_CODE",
						"type": "string"
					},
					{
						"name": "USER_AGENT",
						"type": "string"
					},
					{
						"name": "ROWS_PROCESSED",
						"type": "string"
					},
					{
						"name": "NUMBER_FIELDS",
						"type": "string"
					},
					{
						"name": "DB_BLOCKS",
						"type": "string"
					},
					{
						"name": "DB_CPU_TIME",
						"type": "string"
					},
					{
						"name": "REQUEST_SIZE",
						"type": "string"
					},
					{
						"name": "RESPONSE_SIZE",
						"type": "string"
					},
					{
						"name": "ENTITY_NAME",
						"type": "string"
					},
					{
						"name": "CONNECTED_APP_ID",
						"type": "string"
					},
					{
						"name": "CLIENT_NAME",
						"type": "string"
					},
					{
						"name": "EXCEPTION_MESSAGE",
						"type": "string"
					},
					{
						"name": "TIMESTAMP_DERIVED",
						"type": "string"
					},
					{
						"name": "USER_ID_DERIVED",
						"type": "string"
					},
					{
						"name": "CLIENT_IP",
						"type": "string"
					},
					{
						"name": "URI_ID_DERIVED",
						"type": "string"
					}
				],
				"typeProperties": {
					"table": "MyLogs"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataExplorer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "data2.csv",
						"folderPath": "adx",
						"fileSystem": "data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "name",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "loganalytics.json",
						"folderPath": "adx",
						"fileSystem": "data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "[",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "name",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText4')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "salesforce",
						"fileSystem": "data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText5')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "HttpServer1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": "v62.0/sobjects/EventLogFile/0AT7V00000C784AWAR/LogFile"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/HttpServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Json1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "loganalytics.json",
						"folderPath": "adx",
						"fileSystem": "data"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"timestamp": {
							"type": "string"
						},
						"logEntry": {
							"type": "string"
						},
						"AdditionalContext": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Json2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "salesforce",
						"fileSystem": "data"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LogFile')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Salesforce Data API",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"LogFilePath": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "@dataset().LogFilePath",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Salesforce Data API')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestResource1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "loganalytics",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/loganalytics')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestResource2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Salesforce Data API",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": "v62.0/query?q=SELECT+Id,+EventType,+LogFile,+LogDate,+LogFileLength+FROM+EventLogFile+WHERE+CreatedDate+>+Yesterday+AND+EventType+in+(+'API'+,+'ApexCallout'+,+'ApexExecution'+,+'ApexRestApi'+,+'ApexSoap'+,+'ApexTrigger'+,+'ApexUnexpectedException'+,+'ApiTotalUsage'+,+'BulkApi'+,+'BulkApiRequest'+,+'BulkApi2'+,+'ConcurrentLongRunningApexLimit'+,+'FlowExecution'+,+'Login'+,+'LoginAs'+,+'QueuedExecution'+,+'RestApi'++)+and+interval+=+'Hourly'"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Salesforce Data API')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestResource3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Salesforce Data API",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Salesforce Data API')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SalesforceLogs')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"path": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": {
							"value": "@dataset().path",
							"type": "Expression"
						},
						"container": "salesforce"
					},
					"columnDelimiter": ",",
					"escapeChar": "\"",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "EVENT_TYPE",
						"type": "String"
					},
					{
						"name": "TIMESTAMP",
						"type": "String"
					},
					{
						"name": "REQUEST_ID",
						"type": "String"
					},
					{
						"name": "ORGANIZATION_ID",
						"type": "String"
					},
					{
						"name": "USER_ID",
						"type": "String"
					},
					{
						"name": "RUN_TIME",
						"type": "String"
					},
					{
						"name": "CPU_TIME",
						"type": "String"
					},
					{
						"name": "URI",
						"type": "String"
					},
					{
						"name": "SESSION_KEY",
						"type": "String"
					},
					{
						"name": "LOGIN_KEY",
						"type": "String"
					},
					{
						"name": "USER_TYPE",
						"type": "String"
					},
					{
						"name": "REQUEST_STATUS",
						"type": "String"
					},
					{
						"name": "DB_TOTAL_TIME",
						"type": "String"
					},
					{
						"name": "METHOD",
						"type": "String"
					},
					{
						"name": "MEDIA_TYPE",
						"type": "String"
					},
					{
						"name": "STATUS_CODE",
						"type": "String"
					},
					{
						"name": "USER_AGENT",
						"type": "String"
					},
					{
						"name": "ROWS_PROCESSED",
						"type": "String"
					},
					{
						"name": "NUMBER_FIELDS",
						"type": "String"
					},
					{
						"name": "DB_BLOCKS",
						"type": "String"
					},
					{
						"name": "DB_CPU_TIME",
						"type": "String"
					},
					{
						"name": "REQUEST_SIZE",
						"type": "String"
					},
					{
						"name": "RESPONSE_SIZE",
						"type": "String"
					},
					{
						"name": "ENTITY_NAME",
						"type": "String"
					},
					{
						"name": "CONNECTED_APP_ID",
						"type": "String"
					},
					{
						"name": "CLIENT_NAME",
						"type": "String"
					},
					{
						"name": "EXCEPTION_MESSAGE",
						"type": "String"
					},
					{
						"name": "TIMESTAMP_DERIVED",
						"type": "String"
					},
					{
						"name": "USER_ID_DERIVED",
						"type": "String"
					},
					{
						"name": "CLIENT_IP",
						"type": "String"
					},
					{
						"name": "URI_ID_DERIVED",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SalesforceObject1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Salesforce1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SalesforceV2Object",
				"schema": [],
				"typeProperties": {
					"objectApiName": "EventLogFile"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Salesforce1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataExplorer1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDataExplorer",
				"typeProperties": {
					"endpoint": "[parameters('AzureDataExplorer1_properties_typeProperties_endpoint')]",
					"database": "[parameters('AzureDataExplorer1_properties_typeProperties_database')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage1_properties_typeProperties_url')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricks1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-3001519857218975.15.azuredatabricks.net",
					"authentication": "MSI",
					"workspaceResourceId": "/subscriptions/7a074df0-d2da-4def-92f3-cef1819caf9e/resourceGroups/rg-data/providers/Microsoft.Databricks/workspaces/adb-cus-01",
					"newClusterNodeType": "Standard_DS3_v2",
					"newClusterNumOfWorker": "1",
					"newClusterVersion": "15.4.x-scala2.12",
					"clusterOption": "Fixed",
					"newClusterInitScripts": []
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureFunction1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureFunction",
				"typeProperties": {
					"functionAppUrl": "[parameters('AzureFunction1_properties_typeProperties_functionAppUrl')]",
					"authentication": "Anonymous",
					"functionKey": {
						"type": "SecureString",
						"value": "[parameters('AzureFunction1_functionKey')]"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault1_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DatabricksInstancePoolLinkedService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"workspaceUrl": {
						"type": "string"
					},
					"instancePoolId": {
						"type": "string"
					},
					"workspaceResourceId": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "@linkedService().workspaceUrl",
					"authentication": "MSI",
					"workspaceResourceId": "@linkedService().workspaceResourceId",
					"instancePoolId": "@linkedService().instancePoolId",
					"newClusterNumOfWorker": "1",
					"newClusterVersion": "15.4.x-scala2.12",
					"newClusterInitScripts": [],
					"clusterOption": "Fixed"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DatabricksJobClusterLinkedService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"workspaceUrl": {
						"type": "string"
					},
					"workspaceResourceId": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "@linkedService().workspaceUrl",
					"authentication": "MSI",
					"workspaceResourceId": "@linkedService().workspaceResourceId",
					"newClusterNodeType": "Standard_E80ids_v4",
					"newClusterNumOfWorker": "1",
					"newClusterVersion": "15.4.x-scala2.12",
					"clusterOption": "Fixed",
					"newClusterInitScripts": []
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/HttpServer1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"BearerToken": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('HttpServer1_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Salesforce Data API')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('Salesforce Data API_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "OAuth2ClientCredential",
					"clientId": "[parameters('Salesforce Data API_properties_typeProperties_clientId')]",
					"clientSecret": {
						"type": "SecureString",
						"value": "[parameters('Salesforce Data API_clientSecret')]"
					},
					"tokenEndpoint": "https://cona.my.salesforce.com/services/oauth2/token"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Salesforce1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SalesforceV2",
				"typeProperties": {
					"environmentUrl": "[parameters('Salesforce1_properties_typeProperties_environmentUrl')]",
					"clientId": "[parameters('Salesforce1_properties_typeProperties_clientId')]",
					"clientSecret": {
						"type": "SecureString",
						"value": "[parameters('Salesforce1_clientSecret')]"
					},
					"apiVersion": "62.0",
					"authenticationType": "OAuth2ClientCredential"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/loganalytics')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('loganalytics_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "ManagedServiceIdentity",
					"aadResourceId": "[parameters('loganalytics_properties_typeProperties_aadResourceId')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AutoResolveIntegrationRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 0
						}
					}
				},
				"managedVirtualNetwork": {
					"type": "ManagedVirtualNetworkReference",
					"referenceName": "default"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime1')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow1')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "SalesforceLogs",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "AzureDataExplorerTable2",
								"type": "DatasetReference"
							},
							"name": "sink2"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          EVENT_TYPE as string,",
						"          TIMESTAMP as string,",
						"          REQUEST_ID as string,",
						"          ORGANIZATION_ID as string,",
						"          USER_ID as string,",
						"          RUN_TIME as string,",
						"          CPU_TIME as string,",
						"          URI as string,",
						"          SESSION_KEY as string,",
						"          LOGIN_KEY as string,",
						"          USER_TYPE as string,",
						"          REQUEST_STATUS as string,",
						"          DB_TOTAL_TIME as string,",
						"          METHOD as string,",
						"          MEDIA_TYPE as string,",
						"          STATUS_CODE as string,",
						"          USER_AGENT as string,",
						"          ROWS_PROCESSED as string,",
						"          NUMBER_FIELDS as string,",
						"          DB_BLOCKS as string,",
						"          DB_CPU_TIME as string,",
						"          REQUEST_SIZE as string,",
						"          RESPONSE_SIZE as string,",
						"          ENTITY_NAME as string,",
						"          CONNECTED_APP_ID as string,",
						"          CLIENT_NAME as string,",
						"          EXCEPTION_MESSAGE as string,",
						"          TIMESTAMP_DERIVED as string,",
						"          USER_ID_DERIVED as string,",
						"          CLIENT_IP as string,",
						"          URI_ID_DERIVED as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          EVENT_TYPE as string,",
						"          TIMESTAMP as string,",
						"          REQUEST_ID as string,",
						"          ORGANIZATION_ID as string,",
						"          USER_ID as string,",
						"          RUN_TIME as string,",
						"          CPU_TIME as string,",
						"          URI as string,",
						"          SESSION_KEY as string,",
						"          LOGIN_KEY as string,",
						"          USER_TYPE as string,",
						"          REQUEST_STATUS as string,",
						"          DB_TOTAL_TIME as string,",
						"          METHOD as string,",
						"          MEDIA_TYPE as string,",
						"          STATUS_CODE as string,",
						"          USER_AGENT as string,",
						"          ROWS_PROCESSED as string,",
						"          NUMBER_FIELDS as string,",
						"          DB_BLOCKS as string,",
						"          DB_CPU_TIME as string,",
						"          REQUEST_SIZE as string,",
						"          RESPONSE_SIZE as string,",
						"          ENTITY_NAME as string,",
						"          CONNECTED_APP_ID as string,",
						"          CLIENT_NAME as string,",
						"          EXCEPTION_MESSAGE as string,",
						"          TIMESTAMP_DERIVED as string,",
						"          USER_ID_DERIVED as string,",
						"          CLIENT_IP as string,",
						"          URI_ID_DERIVED as string",
						"     ),",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink2"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SalesforceLogs')]",
				"[concat(variables('factoryId'), '/datasets/AzureDataExplorerTable2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks",
			"apiVersion": "2018-06-01",
			"properties": {},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default/AzureSynapseAnalytics432')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2018-06-01",
			"properties": {
				"privateLinkResourceId": "[parameters('AzureSynapseAnalytics432_properties_privateLinkResourceId')]",
				"groupId": "[parameters('AzureSynapseAnalytics432_properties_groupId')]",
				"fqdns": "[parameters('AzureSynapseAnalytics432_properties_fqdns')]"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"serviceEndpoint": "[parameters('AzureBlobStorage1_properties_typeProperties_serviceEndpoint')]",
					"accountKind": "StorageV2"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/globalparameters",
			"apiVersion": "2018-06-01",
			"properties": {
				"primaryWorkspaceUrl": {
					"type": "string",
					"value": "[parameters('default_properties_primaryWorkspaceUrl_value')]"
				},
				"failoverWorkspaceUrl": {
					"type": "string",
					"value": "[parameters('default_properties_failoverWorkspaceUrl_value')]"
				},
				"primaryWorkspaceResourceId": {
					"type": "string",
					"value": "[parameters('default_properties_primaryWorkspaceResourceId_value')]"
				},
				"failoverWorkspaceResourceId": {
					"type": "string",
					"value": "[parameters('default_properties_failoverWorkspaceResourceId_value')]"
				},
				"primaryInstancePoolId": {
					"type": "string",
					"value": "[parameters('default_properties_primaryInstancePoolId_value')]"
				},
				"failoverInstancePoolId": {
					"type": "string",
					"value": "[parameters('default_properties_failoverInstancePoolId_value')]"
				},
				"workspaceUrl": {
					"type": "string",
					"value": "[parameters('default_properties_workspaceUrl_value')]"
				}
			},
			"dependsOn": []
		}
	]
}