adf-mibecke-cus-01/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-mibecke-cus-01"
		},
		"default_properties_primaryWorkspaceUrl_value": {
			"type": "string",
			"defaultValue": "https://adb-3001519857218975.15.azuredatabricks.net"
		},
		"default_properties_failoverWorkspaceUrl_value": {
			"type": "string",
			"defaultValue": "https://adb-1386680983746450.10.azuredatabricks.net/"
		},
		"default_properties_primaryWorkspaceResourceId_value": {
			"type": "string",
			"defaultValue": "/subscriptions/7a074df0-d2da-4def-92f3-cef1819caf9e/resourceGroups/rg-data/providers/Microsoft.Databricks/workspaces/adb-cus-01"
		},
		"default_properties_failoverWorkspaceResourceId_value": {
			"type": "string",
			"defaultValue": "/subscriptions/7a074df0-d2da-4def-92f3-cef1819caf9e/resourceGroups/rg-data/providers/Microsoft.Databricks/workspaces/adb-eus2-01"
		},
		"default_properties_primaryInstancePoolId_value": {
			"type": "string",
			"defaultValue": "0923-201003-yarn12-pool-n1bcdevw"
		},
		"default_properties_failoverInstancePoolId_value": {
			"type": "string",
			"defaultValue": "0923-200944-gym276-pool-ezzwvw1s"
		},
		"default_properties_workspaceUrl_value": {
			"type": "string",
			"defaultValue": "https://adb-3001519857218975.15.azuredatabricks.net/"
		},
		"AzureKeyVault1_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://kv-mibecke-shared.vault.azure.net/"
		},
		"AzureSynapseAnalytics432_properties_privateLinkResourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/7a074df0-d2da-4def-92f3-cef1819caf9e/resourceGroups/rg-synapse/providers/Microsoft.Synapse/workspaces/syn-mibecke-cus-01"
		},
		"AzureSynapseAnalytics432_properties_groupId": {
			"type": "string",
			"defaultValue": "sql"
		},
		"AzureSynapseAnalytics432_properties_fqdns": {
			"type": "array",
			"defaultValue": [
				"syn-mibecke-cus-01.sql.azuresynapse.net"
			]
		},
		"AzureBlobStorage1_properties_typeProperties_serviceEndpoint": {
			"type": "string",
			"defaultValue": "https://rgconab540.blob.core.windows.net/"
		},
		"AzureDataExplorer1_properties_typeProperties_endpoint": {
			"type": "string",
			"defaultValue": "https://adx-mibecke-01.centralus.kusto.windows.net"
		},
		"AzureDataExplorer1_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "cona-salesforce-logs"
		},
		"AzureDataLakeStorage1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://samibeckecus01.dfs.core.windows.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/globalparameters",
			"apiVersion": "2018-06-01",
			"properties": {
				"primaryWorkspaceUrl": {
					"type": "string",
					"value": "[parameters('default_properties_primaryWorkspaceUrl_value')]"
				},
				"failoverWorkspaceUrl": {
					"type": "string",
					"value": "[parameters('default_properties_failoverWorkspaceUrl_value')]"
				},
				"primaryWorkspaceResourceId": {
					"type": "string",
					"value": "[parameters('default_properties_primaryWorkspaceResourceId_value')]"
				},
				"failoverWorkspaceResourceId": {
					"type": "string",
					"value": "[parameters('default_properties_failoverWorkspaceResourceId_value')]"
				},
				"primaryInstancePoolId": {
					"type": "string",
					"value": "[parameters('default_properties_primaryInstancePoolId_value')]"
				},
				"failoverInstancePoolId": {
					"type": "string",
					"value": "[parameters('default_properties_failoverInstancePoolId_value')]"
				},
				"workspaceUrl": {
					"type": "string",
					"value": "[parameters('default_properties_workspaceUrl_value')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline5')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.ErrorMessages",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@contains('this string contains foo', item())",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "Set variable1",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "FoundString",
													"value": true
												}
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ErrorMessages": {
						"type": "array"
					}
				},
				"variables": {
					"ErrorMessages": {
						"type": "Array"
					},
					"FoundString": {
						"type": "Boolean"
					},
					"failoverConditionSatisfied": {
						"type": "Boolean"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault1_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DatabricksInstancePoolLinkedService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"workspaceUrl": {
						"type": "string"
					},
					"instancePoolId": {
						"type": "string"
					},
					"workspaceResourceId": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "@linkedService().workspaceUrl",
					"authentication": "MSI",
					"workspaceResourceId": "@linkedService().workspaceResourceId",
					"instancePoolId": "@linkedService().instancePoolId",
					"newClusterNumOfWorker": "1",
					"newClusterVersion": "15.4.x-scala2.12",
					"newClusterInitScripts": [],
					"clusterOption": "Fixed"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime1')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks",
			"apiVersion": "2018-06-01",
			"properties": {},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RetryOnCapacityFailure')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Loop Until Capacity Available",
						"type": "Until",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@or(greater(int(variables('iterationCount')), pipeline().parameters.maxIterations), variables('exitLoop'))",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Run Notebook",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": {
											"value": "@pipeline().parameters.notebookPath",
											"type": "Expression"
										}
									},
									"linkedServiceName": {
										"referenceName": "DatabricksInstancePoolLinkedService",
										"type": "LinkedServiceReference",
										"parameters": {
											"workspaceUrl": "https://adb-3001519857218975.15.azuredatabricks.net/",
											"instancePoolId": "0923-201003-yarn12-pool-n1bcdevw",
											"workspaceResourceId": "/subscriptions/7a074df0-d2da-4def-92f3-cef1819caf9e/resourceGroups/rg-data/providers/Microsoft.Databricks/workspaces/adb-cus-01"
										}
									}
								},
								{
									"name": "set exitLoop true",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Run Notebook",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "exitLoop",
										"value": true
									}
								},
								{
									"name": "Check if failure capacity related",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Run Notebook",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@or(greater(indexOf(activity('Run Notebook').output.runError, 'INSTANCE_POOL_MAX_CAPACITY_REACHED'), 0) ,greater(indexOf(activity('Run Notebook').output.runError, 'SOME_OTHER_ERROR_STRING'), 0) )",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "set exitLoop true 2",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "exitLoop",
													"value": true
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "set exitLoop false",
												"type": "SetVariable",
												"dependsOn": [
													{
														"activity": "increment iteration count",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "exitLoop",
													"value": false
												}
											},
											{
												"name": "wait",
												"type": "Wait",
												"dependsOn": [
													{
														"activity": "set exitLoop false",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"waitTimeInSeconds": {
														"value": "@pipeline().parameters.retryIntervalSeconds",
														"type": "Expression"
													}
												}
											},
											{
												"name": "increment iterationCountInternal",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "iterationCountInternal",
													"value": {
														"value": "@string(add(int(variables('iterationCount')),1))",
														"type": "Expression"
													}
												}
											},
											{
												"name": "increment iteration count",
												"type": "SetVariable",
												"dependsOn": [
													{
														"activity": "increment iterationCountInternal",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "iterationCount",
													"value": {
														"value": "@variables('iterationCountInternal')",
														"type": "Expression"
													}
												}
											}
										]
									}
								},
								{
									"name": "Fail if max iteration count exceeded",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Run Notebook",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@greater(int(variables('iterationCount')), pipeline().parameters.maxIterations)",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "Fail1",
												"type": "Fail",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"message": "Max iterations exceeded",
													"errorCode": "666"
												}
											}
										]
									}
								}
							],
							"timeout": "0.12:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"maxIterations": {
						"type": "int",
						"defaultValue": 10
					},
					"notebookPath": {
						"type": "string"
					},
					"retryIntervalSeconds": {
						"type": "int",
						"defaultValue": 300
					}
				},
				"variables": {
					"exitLoop": {
						"type": "Boolean",
						"defaultValue": false
					},
					"iterationCount": {
						"type": "String",
						"defaultValue": "1"
					},
					"iterationCountInternal": {
						"type": "String",
						"defaultValue": "1"
					}
				},
				"folder": {
					"name": "Other resilience stuff"
				},
				"annotations": [],
				"lastPublishTime": "2024-09-26T16:52:12Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DatabricksInstancePoolLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SwitchInstancePoolOnCapacityFailure')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "InitialNotebookRunAttempt",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": {
								"value": "@pipeline().parameters.notebookPath",
								"type": "Expression"
							}
						},
						"linkedServiceName": {
							"referenceName": "DatabricksInstancePoolLinkedService",
							"type": "LinkedServiceReference",
							"parameters": {
								"workspaceUrl": {
									"value": "@pipeline().parameters.workspaceUrl",
									"type": "Expression"
								},
								"instancePoolId": {
									"value": "@pipeline().parameters.initialInstancePoolId",
									"type": "Expression"
								},
								"workspaceResourceId": {
									"value": "@pipeline().parameters.workspaceResourceId",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "CheckAcceptableErrorStrings",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "InitialNotebookRunAttempt",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.acceptedErrorMessages",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Check if failure capacity related",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@contains(activity('InitialNotebookRunAttempt').output.runError, item())",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "FailoverNotebookRunAttempt",
												"type": "DatabricksNotebook",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"notebookPath": {
														"value": "@pipeline().parameters.notebookPath",
														"type": "Expression"
													}
												},
												"linkedServiceName": {
													"referenceName": "DatabricksInstancePoolLinkedService",
													"type": "LinkedServiceReference",
													"parameters": {
														"workspaceUrl": {
															"value": "@pipeline().parameters.workspaceUrl",
															"type": "Expression"
														},
														"instancePoolId": {
															"value": "@pipeline().parameters.failoverInstancePoolId",
															"type": "Expression"
														},
														"workspaceResourceId": {
															"value": "@pipeline().parameters.workspaceResourceId",
															"type": "Expression"
														}
													}
												}
											},
											{
												"name": "setFailoverConditionSatisfied",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "failoverConditionSatisfied",
													"value": true
												}
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "FailIfFailoverDidntHappen",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "CheckAcceptableErrorStrings",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@not(variables('failoverConditionSatisfied'))",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Fail1",
									"type": "Fail",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"message": "ERROR_NOT_CAPACITY_RELATED",
										"errorCode": "123"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"notebookPath": {
						"type": "string"
					},
					"workspaceUrl": {
						"type": "string"
					},
					"initialInstancePoolId": {
						"type": "string"
					},
					"failoverInstancePoolId": {
						"type": "string"
					},
					"workspaceResourceId": {
						"type": "string"
					},
					"acceptedErrorMessages": {
						"type": "array"
					}
				},
				"variables": {
					"exitLoop": {
						"type": "Boolean",
						"defaultValue": false
					},
					"iterationCount": {
						"type": "String",
						"defaultValue": "1"
					},
					"iterationCountInternal": {
						"type": "String",
						"defaultValue": "1"
					},
					"activeWorkspaceUrl": {
						"type": "String"
					},
					"activeInstancePoolId": {
						"type": "String"
					},
					"failoverWorkpaceUrl": {
						"type": "String"
					},
					"failoverInstancePoolId": {
						"type": "String"
					},
					"activeWorkspaceResourceId": {
						"type": "String"
					},
					"failoverWorkspaceResourceId": {
						"type": "String"
					},
					"maxIterations": {
						"type": "Integer",
						"defaultValue": 2
					},
					"ErrorMessages": {
						"type": "Array"
					},
					"FoundString": {
						"type": "Boolean"
					},
					"failoverConditionSatisfied": {
						"type": "Boolean"
					}
				},
				"folder": {
					"name": "Helpers"
				},
				"annotations": [],
				"lastPublishTime": "2024-09-26T16:52:12Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DatabricksInstancePoolLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SwitchWorkspaceOnCapacityFailure')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Loop Until Capacity Available",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "Set variable1",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set variable4",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set variable2",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set variable3",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set variable5",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set variable6",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@or(greater(int(variables('iterationCount')), variables('maxIterations')), variables('exitLoop'))",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Run Notebook",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": {
											"value": "@pipeline().parameters.notebookPath",
											"type": "Expression"
										}
									},
									"linkedServiceName": {
										"referenceName": "DatabricksInstancePoolLinkedService",
										"type": "LinkedServiceReference",
										"parameters": {
											"workspaceUrl": {
												"value": "@variables('activeWorkspaceUrl')",
												"type": "Expression"
											},
											"instancePoolId": {
												"value": "@variables('activeInstancePoolId')",
												"type": "Expression"
											},
											"workspaceResourceId": {
												"value": "@variables('activeWorkspaceResourceId')",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "set exitLoop true",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Run Notebook",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "exitLoop",
										"value": true
									}
								},
								{
									"name": "Check if failure capacity related",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Run Notebook",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@or(greater(indexOf(activity('Run Notebook').output.runError, 'INSTANCE_POOL_MAX_CAPACITY_REACHED'), 0) ,greater(indexOf(activity('Run Notebook').output.runError, 'SOME_OTHER_ERROR_STRING'), 0) )",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "set exitLoop true 2",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "exitLoop",
													"value": true
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "set exitLoop false",
												"type": "SetVariable",
												"dependsOn": [
													{
														"activity": "increment iteration count",
														"dependencyConditions": [
															"Succeeded"
														]
													},
													{
														"activity": "swapWorkspaceUrl",
														"dependencyConditions": [
															"Succeeded"
														]
													},
													{
														"activity": "swapInstancePoolId",
														"dependencyConditions": [
															"Succeeded"
														]
													},
													{
														"activity": "swapeResourceId",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "exitLoop",
													"value": false
												}
											},
											{
												"name": "increment iterationCountInternal",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "iterationCountInternal",
													"value": {
														"value": "@string(add(int(variables('iterationCount')),1))",
														"type": "Expression"
													}
												}
											},
											{
												"name": "increment iteration count",
												"type": "SetVariable",
												"dependsOn": [
													{
														"activity": "increment iterationCountInternal",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "iterationCount",
													"value": {
														"value": "@variables('iterationCountInternal')",
														"type": "Expression"
													}
												}
											},
											{
												"name": "swapWorkspaceUrl",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "activeWorkspaceUrl",
													"value": {
														"value": "@variables('failoverWorkpaceUrl')",
														"type": "Expression"
													}
												}
											},
											{
												"name": "swapInstancePoolId",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "activeInstancePoolId",
													"value": {
														"value": "@variables('failoverInstancePoolId')",
														"type": "Expression"
													}
												}
											},
											{
												"name": "swapeResourceId",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "activeWorkspaceResourceId",
													"value": {
														"value": "@variables('failoverWorkspaceResourceId')",
														"type": "Expression"
													}
												}
											}
										]
									}
								},
								{
									"name": "Fail if max iteration count exceeded",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Run Notebook",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@greater(int(variables('iterationCount')), variables('maxIterations'))",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "Fail1",
												"type": "Fail",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"message": "Max iterations exceeded",
													"errorCode": "666"
												}
											}
										]
									}
								}
							],
							"timeout": "0.12:00:00"
						}
					},
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "activeWorkspaceUrl",
							"value": {
								"value": "@pipeline().parameters.activeWorkspaceUrl",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set variable2",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "activeInstancePoolId",
							"value": {
								"value": "@pipeline().parameters.activeInstancePoolId",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set variable3",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "failoverWorkpaceUrl",
							"value": {
								"value": "@pipeline().parameters.failoverWorkpaceUrl",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set variable4",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "failoverInstancePoolId",
							"value": {
								"value": "@pipeline().parameters.failoverInstancePoolId",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set variable5",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "activeWorkspaceResourceId",
							"value": {
								"value": "@pipeline().parameters.activeWorkspaceResourceId",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set variable6",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "failoverWorkspaceResourceId",
							"value": {
								"value": "@pipeline().parameters.failoverWorkspaceResourceId",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"notebookPath": {
						"type": "string"
					},
					"retryIntervalSeconds": {
						"type": "int",
						"defaultValue": 300
					},
					"activeWorkspaceUrl": {
						"type": "string"
					},
					"activeInstancePoolId": {
						"type": "string"
					},
					"failoverWorkpaceUrl": {
						"type": "string"
					},
					"failoverInstancePoolId": {
						"type": "string"
					},
					"activeWorkspaceResourceId": {
						"type": "string"
					},
					"failoverWorkspaceResourceId": {
						"type": "string"
					}
				},
				"variables": {
					"exitLoop": {
						"type": "Boolean",
						"defaultValue": false
					},
					"iterationCount": {
						"type": "String",
						"defaultValue": "1"
					},
					"iterationCountInternal": {
						"type": "String",
						"defaultValue": "1"
					},
					"activeWorkspaceUrl": {
						"type": "String"
					},
					"activeInstancePoolId": {
						"type": "String"
					},
					"failoverWorkpaceUrl": {
						"type": "String"
					},
					"failoverInstancePoolId": {
						"type": "String"
					},
					"activeWorkspaceResourceId": {
						"type": "String"
					},
					"failoverWorkspaceResourceId": {
						"type": "String"
					},
					"maxIterations": {
						"type": "Integer",
						"defaultValue": 2
					}
				},
				"folder": {
					"name": "Other resilience stuff"
				},
				"annotations": [],
				"lastPublishTime": "2024-09-26T16:52:12Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DatabricksInstancePoolLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AutoResolveIntegrationRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 0
						}
					}
				},
				"managedVirtualNetwork": {
					"type": "ManagedVirtualNetworkReference",
					"referenceName": "default"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/default/AzureSynapseAnalytics432')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2018-06-01",
			"properties": {
				"privateLinkResourceId": "[parameters('AzureSynapseAnalytics432_properties_privateLinkResourceId')]",
				"groupId": "[parameters('AzureSynapseAnalytics432_properties_groupId')]",
				"fqdns": "[parameters('AzureSynapseAnalytics432_properties_fqdns')]"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RepairTable')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "REPAIR TABLE",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"url": {
								"value": "@{pipeline().parameters.workspaceUrl}/api/2.0/sql/statements",
								"type": "Expression"
							},
							"connectVia": {
								"referenceName": "AutoResolveIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"body": {
								"value": "{\"statement\":\"REPAIR TABLE @{pipeline().parameters.tableName} SYNC METADATA\",\"warehouse_id\":\"@{pipeline().parameters.warehouseId}\"}",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "2ff814a6-3304-4ab8-85cb-cd0e6f879c1d"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"workspaceUrl": {
						"type": "string"
					},
					"tableName": {
						"type": "string"
					},
					"warehouseId": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Old"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "FaultTolerantDatabricksNotebook",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "RetryOnCapacityFailure",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"maxIterations": 2,
								"notebookPath": "/Workspace/Users/admin@mngenvmcap469791.onmicrosoft.com/job1",
								"retryIntervalSeconds": 120
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Old"
				},
				"annotations": [],
				"lastPublishTime": "2024-09-23T21:00:09Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/RetryOnCapacityFailure')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "FaultTolerantDatabricksNotebook",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SwitchWorkspaceOnCapacityFailure",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"notebookPath": "/Workspace/Users/admin@mngenvmcap469791.onmicrosoft.com/job1",
								"activeWorkspaceUrl": {
									"value": "@pipeline().globalParameters.primaryWorkspaceUrl",
									"type": "Expression"
								},
								"activeInstancePoolId": {
									"value": "@pipeline().globalParameters.primaryInstancePoolId",
									"type": "Expression"
								},
								"failoverWorkpaceUrl": {
									"value": "@pipeline().globalParameters.failoverWorkspaceUrl",
									"type": "Expression"
								},
								"failoverInstancePoolId": {
									"value": "@pipeline().globalParameters.failoverInstancePoolId",
									"type": "Expression"
								},
								"activeWorkspaceResourceId": {
									"value": "@pipeline().globalParameters.primaryWorkspaceResourceId",
									"type": "Expression"
								},
								"failoverWorkspaceResourceId": {
									"value": "@pipeline().globalParameters.failoverWorkspaceResourceId",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Old"
				},
				"annotations": [],
				"lastPublishTime": "2024-09-23T21:00:09Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/SwitchWorkspaceOnCapacityFailure')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline3')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "REPAIR TABLE",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"url": "https://adb-1386680983746450.10.azuredatabricks.net/api/2.0/sql/statements",
							"connectVia": {
								"referenceName": "AutoResolveIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"body": {
								"statement": "REPAIR TABLE samibeckecus02.default.data3 SYNC METADATA",
								"warehouse_id": "3fe3ae28df670188"
							},
							"authentication": {
								"type": "MSI",
								"resource": "2ff814a6-3304-4ab8-85cb-cd0e6f879c1d"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Old"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline8')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetSalesforceOauthToken",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "GetOAuthClientId",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "GetOAuthClientSecret",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"url": {
								"value": "@concat('https://cona.my.salesforce.com/services/oauth2/token?client_id=', activity('GetOAuthClientId').output.value, '&client_secret=', activity('GetOAuthClientSecret').output.value, '&grant_type=client_credentials')",
								"type": "Expression"
							},
							"connectVia": {
								"referenceName": "AutoResolveIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							}
						}
					},
					{
						"name": "GetOAuthClientId",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"url": "https://kv-mibecke-shared.vault.azure.net/secrets/cona-salesforce-client-id/d32e42f38db041e7a89b554323d29db5?api-version=7.0",
							"connectVia": {
								"referenceName": "AutoResolveIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "GetOAuthClientSecret",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"url": "https://kv-mibecke-shared.vault.azure.net/secrets/cona-salesforce-client-secret/96f223c734a7495db679b9624744ba4e?api-version=7.0",
							"connectVia": {
								"referenceName": "AutoResolveIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Set Bearer Token",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GetSalesforceOauthToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": true,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "BearerToken",
							"value": {
								"value": "@concat('Bearer ', activity('GetSalesforceOauthToken').output.access_token)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "GetListOfLogFiles",
						"type": "WebActivity",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Set Bearer Token",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {
								"Authorization": {
									"value": "@variables('BearerToken')",
									"type": "Expression"
								}
							},
							"url": "https://cona.my.salesforce.com/services/data/v62.0/query?q=SELECT+Id,+EventType,+LogFile,+LogDate,+LogFileLength+FROM+EventLogFile+WHERE+CreatedDate+>+Yesterday+AND+EventType+in+(+'API'+,+'ApexCallout'+,+'ApexExecution'+,+'ApexRestApi'+,+'ApexSoap'+,+'ApexTrigger'+,+'ApexUnexpectedException'+,+'ApiTotalUsage'+,+'BulkApi'+,+'BulkApiRequest'+,+'BulkApi2'+,+'ConcurrentLongRunningApexLimit'+,+'FlowExecution'+,+'Login'+,+'LoginAs'+,+'QueuedExecution'+,+'RestApi'++)+and+interval+=+'Hourly'",
							"connectVia": {
								"referenceName": "AutoResolveIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							}
						}
					},
					{
						"name": "LoopLogFiles",
						"type": "ForEach",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "GetListOfLogFiles",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetListOfLogFiles').output.records",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "WriteLogFileToStorage",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "GetLogFile",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": true
									},
									"userProperties": [],
									"typeProperties": {
										"method": "PUT",
										"headers": {
											"x-ms-version": "2019-07-07",
											"x-ms-blob-type": "BlockBlob",
											"Authentication": "Managed Identity",
											"ContentEncoding": "gzip",
											"ContentType": "application/csv"
										},
										"url": {
											"value": "@concat('https://samibeckecus01.blob.core.windows.net/data/salesforce/', item().EventType, '.csv?resource=file')",
											"type": "Expression"
										},
										"connectVia": {
											"referenceName": "AutoResolveIntegrationRuntime",
											"type": "IntegrationRuntimeReference"
										},
										"body": {
											"value": "@activity('GetLogFile').output.Response",
											"type": "Expression"
										},
										"authentication": {
											"type": "MSI",
											"resource": "https://storage.azure.com"
										}
									}
								},
								{
									"name": "GetLogFile",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": true,
										"secureInput": true
									},
									"userProperties": [],
									"typeProperties": {
										"method": "GET",
										"headers": {
											"Authorization": {
												"value": "@variables('BearerToken')",
												"type": "Expression"
											},
											"Content-Type": "application/csv",
											"Accept-Encoding": "gzip"
										},
										"url": {
											"value": "@concat('https://cona.my.salesforce.com/',item().LogFile)",
											"type": "Expression"
										},
										"connectVia": {
											"referenceName": "AutoResolveIntegrationRuntime",
											"type": "IntegrationRuntimeReference"
										}
									}
								}
							]
						}
					},
					{
						"name": "GetLogFile_copy1",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Set Bearer Token",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {
								"Authorization": {
									"value": "@variables('BearerToken')",
									"type": "Expression"
								},
								"Accept-Encoding": "gzip",
								"Content-Type": "text/csv"
							},
							"url": {
								"value": "@concat('https://cona.my.salesforce.com/','/services/data/v62.0/sobjects/EventLogFile/0AT7V00000C78PgWAJ/LogFile')",
								"type": "Expression"
							},
							"connectVia": {
								"referenceName": "AutoResolveIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"urls": {
						"type": "Array"
					},
					"url": {
						"type": "String"
					},
					"url2": {
						"type": "String"
					},
					"BearerToken": {
						"type": "String"
					},
					"accessToken": {
						"type": "String"
					}
				},
				"folder": {
					"name": "adx"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tryNonDdcrInstancePoolThenFallbackOnOdcrInstancePool')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute Pipeline1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SwitchInstancePoolOnCapacityFailure",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"notebookPath": "/Workspace/Users/admin@mngenvmcap469791.onmicrosoft.com/job1",
								"workspaceUrl": "https://adb-3001519857218975.15.azuredatabricks.net/",
								"initialInstancePoolId": "1105-210710-awing2-pool-bv7hvz4s",
								"failoverInstancePoolId": "1105-210744-foray3-pool-306c6t24",
								"workspaceResourceId": "/subscriptions/7a074df0-d2da-4def-92f3-cef1819caf9e/resourceGroups/rg-data/providers/Microsoft.Databricks/workspaces/adb-cus-01",
								"acceptedErrorMessages": {
									"value": "@pipeline().parameters.acceptedErrorMessages",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Execute Pipeline2",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SwitchInstancePoolOnCapacityFailure",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"notebookPath": "/Workspace/Users/admin@mngenvmcap469791.onmicrosoft.com/job1",
								"workspaceUrl": "https://adb-3001519857218975.15.azuredatabricks.net/",
								"initialInstancePoolId": "1105-210710-awing2-pool-bv7hvz4s",
								"failoverInstancePoolId": "1105-210744-foray3-pool-306c6t24",
								"workspaceResourceId": "/subscriptions/7a074df0-d2da-4def-92f3-cef1819caf9e/resourceGroups/rg-data/providers/Microsoft.Databricks/workspaces/adb-cus-01",
								"acceptedErrorMessages": {
									"value": "@pipeline().parameters.acceptedErrorMessages",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"acceptedErrorMessages": {
						"type": "array",
						"defaultValue": [
							"AZURE_QUOTA_EXCEEDED_EXCEPTION",
							"INSTANCE_POOL_MAX_CAPACITY_REACHED"
						]
					}
				},
				"variables": {
					"failoverConditionSatisfied": {
						"type": "Boolean"
					}
				},
				"folder": {
					"name": "ODCR Demo"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/SwitchInstancePoolOnCapacityFailure')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"serviceEndpoint": "[parameters('AzureBlobStorage1_properties_typeProperties_serviceEndpoint')]",
					"accountKind": "StorageV2"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataExplorer1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDataExplorer",
				"typeProperties": {
					"endpoint": "[parameters('AzureDataExplorer1_properties_typeProperties_endpoint')]",
					"database": "[parameters('AzureDataExplorer1_properties_typeProperties_database')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage1_properties_typeProperties_url')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		}
	]
}